.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1500534314209-a25ddb2bd429?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover; /* Scale the image to cover the entire container */
  background-position: center; /* Center the image horizontally and vertically */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}
