/* Common styles for the .nav2 container and .text */
.nav2 {
  background-color: rgba(0, 0, 0, 0.075);
  width: 100%;
  text-align: center;
  font-size: 13px;
  padding: 5px;
  margin-top: 0;
}

.text {
  padding: 5px;
  display: inline-block;
  white-space: nowrap; /* Prevent text from wrapping within the text div */
}

/* Adjust the font size for smaller screens */
@media screen and (max-width: 480px) {
  .text {
    font-size: 11px;
  }
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .nav2 {
    margin-top: 0;
  }

  .text {
    animation: marqueeMobile 20s linear infinite; /* Apply the marquee animation */
    font-size: 12px;
  }
}
